<nav class="navbar">
            <button class="icon-button search-button" aria-label='open-search'>
                <img class="button-icon" src="icons/dark_mode.svg" alt="Dark mode">
            </button>
            <button class="icon-button" id="theme-toggle" aria-label='toggle-theme'>
                <img class="button-icon" src="icons/dark_mode.svg" alt="Dark mode">
            </button>
            <button class="icon-button font-size" aria-label='change-font-size'>
                <img class="button-icon" src="icons/dark_mode.svg" alt="Dark mode">
            </button>
</nav>